/*Generics*/
.body-container{
    height: 100vh;
    background: linear-gradient(
        to bottom,
        #0B9688 10%,
        #DCDBD2 10% 100% 
    );
}

/*Utils*/


/*CONTACTS*/
#col-contacts{
    min-height: 800px;
    padding-left: 0%;
    padding-right: 0%;

}

.contacts-header{
    height: 80px;
    background-color: #EAEAEA;
}

.alert{
    min-height: 80px;
    background-color: #8EDAFC;
}


/*MESSAGES*/
#col-messages{
    min-height: 800px;
    padding-left: 0%;
    padding-right: 0%;
}

.messages-header{
    height: 80px;
    background-color: #EAEAEA;
}