/*Generics*/
.body-container{
    height: 100vh;
    background: linear-gradient(
        to bottom,
        #0B9688 10%,
        #DCDBD2 10% 100% 
    );
}

/*Utils*/
img{
    width: 60px;
    border-radius: 50%;
}

i{
    color: #B1B1B1;
}


/*CONTACTS*/
#col-contacts{
    max-height: 800px;
    padding-left: 0%;
    padding-right: 0%;
    background-color: #FFFFFF
}

.contacts-header{
    min-height: 80px;
    background-color: #EAEAEA;
}

.user-name{
    margin-bottom: 0%;
}

.alert-section{
    min-height: 80px;
    background-color: #8EDAFC;
    margin-bottom: 0%;
}

.bell-icon{
    background-color: white;
    border-radius: 50%;
    padding: 22px 8px;
}

.search-bar{
   background-color: #FAFAFA;
}

.contacts-body{
    overflow: auto;
}


/*MESSAGES*/
#col-messages{
    max-height: 800px;
    padding-left: 0%;
    padding-right: 0%;
}

.messages-header{
    height: 80px;
    background-color: #EAEAEA;
}

.messages-body{
    min-height: 400px;
    background-image: url(../img/mine.jpg);
}